
.azul-noche{
	background: #021830 !important;
}

.verde-text{
	color: #01e1ce;
}

.foto-perfil{
	width: 4.4em;
	height: 64px;
	border-radius: 50px;
	margin-left: 128px;
}
.margen-izquierdo{
	margin-left: 128px;
}

.margen-derecho{
	margin-right: 128px;
}

.clean{
	width: 0;
	height: 0;
}

.box{
	width: 100%;
	height: 90vh;
}

.box.one{
	background: url(https://c7.staticflickr.com/4/3769/8781996742_d9f612cb08_c.jpg) no-repeat center;
	background-size: cover;
}

.box.two{
	height: 100% !important;
	padding: 16px 0px;
}	

.vertical-center{
	line-height: 14em;
}
.size-skill{
	width: 50px;
	height: 50px;
}
.text-size{
	font-size: 16px;
}

.margin-rank-top{
	margin-top: 20px;
}

.center-vertical{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#rombo{
	width: 0;
	height: 0;
	border: 40vw solid transparent;
	border-bottom-color: red;
	position: relative;
	top: -39vw;
	margin: auto;
}

#rombo:after{
	content: '';
	position: absolute;
	left: -40vw;
	top:39.9vw;
	width: 0;
	height: 0;
	border: 40vw solid transparent;
	border-top-color: red;
}

.js div#preloader { 
	position: fixed; 
	left: 0; 
	top: 0; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	overflow: visible; 
	background: #191f26 url('https://s-media-cache-ak0.pinimg.com/originals/90/80/60/9080607321ab98fa3e70dd24b2513a20.gif') no-repeat center center; 
}

#snow{
	background: none;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index:1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}	